<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>txl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D9DB49E31D33A687004A04CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9DB49F71D33A687004A04CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9DB4A021D33A687004A04CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
